<html lang=“ja”>
  <head>
    <meta charset=“UTF-8“ />
    <title>Form</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" href="/static/table.css">
  </head>
  <body style="background: #dae5ee;">
      <h4 class="page-title">KIX: vs last year</h4>
      <div class="page-category">Page description</div>
      <form method="POST" action="/comment/{{user_name}}">
        <h3>{{form.stores}}</h3>
        <h3>{{form.category}}</h3>
				&nbsp;{{ form.submit() }}</h3>
			</form>
      <script>
        $(function () {
            $('select').multipleSelect({
              width: 400,
              selectedList: 100,
              classes:'.multi__etc',
            });
        });
        </script>
  </body>
</html>