<html lang=“ja”>
  <head>
    <meta charset=“UTF-8“ />
    <title>Form</title>
  </head>
  <body>
    <form method="POST" action="{{url_for('.save_comment', num=0)}}">
      {% if d[0] %}
      <textarea name="comment" rows="20" cols="60" style="text-align:left;;margin-left:auto;">{{d[0]}}
      </textarea>
      {% else %}
      <textarea id="comment" rows="20" cols="60" style="text-align:left;margin-left:auto;"></textarea>
      {% endif %}
      <input type="submit" value="送信"><br>
    </form>
    <form method="POST" action="{{url_for('.save_comment', num=1)}}">
      {% if d[1] %}
      <textarea name="comment" rows="20" cols="60" style="text-align:left;;margin-left:auto;">{{d[1]}}
      </textarea>
      {% else %}
      <textarea id="comment" rows="20" cols="60" style="text-align:left;margin-left:auto;"></textarea>
      {% endif %}
      <input type="submit" value="送信"><br>
    </form>
  </body>
</html>