<html lang=“ja”>
  <head>
    <meta charset=“UTF-8“ />
    <title>Form</title>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jspdf"></script> -->
    <!-- <script type="module" src="static/Koruri-normal.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <!-- <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script> -->
    <script src="./static/comment.js"></script>

    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vxe-table-plugin-export-pdf/fonts/source-han-sans-normal.js"></script> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet"> -->
    <!-- <script src="./static/mplus-1p-normal-normal.js"></script> -->
  </head>
  <body>
    <div class="user">
      <div class="info">
        <span>
          {{ current_user.username }}
          <span class="user-level">
            {{ current_user.email }}
          </span>
          <span class="caret"></span>
        </span>
      </div>
    </div>
    <a href="/comment/{{current_user.username}}">
      <span class="sub-item">KIX</span>
    </a>

    
    
    

   
   
   
    
    <br>
  </body>
</html>