[Unit]
Description=intial gpio for robot

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/FlaskStudy/robot/initial.py
Restart=no

[Install]
WantedBy=multi-user.target
