<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    
    <title>WTF Form</title>
</head>
<body>
    <form method="POST" action="/s">
    {{ form.start_date.label }} {{form.start_date}}
    {{ form.end_date.label }} {{form.end_date}}
    {{ form.submit()}}
    </form>
    <p>
    {% if form.start_date.data %}
    start date: {{form.start_date.data}}
    {% endif %}
    {% if form.end_date.data %}
    end date: {{form.end_date.data}}
    {% endif %}
    </p>
</body>