<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="utf-8">
  <title>Robot</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  <style>
    main{
      width:400px;height:300px;
      padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
    }
    #front, #back, #left, #right 
    {
      width:200px;height:100px;font-size:50px;
    }
    #stop{
      width:200px;height:100px;font-size:50px;color:#ff0000
    }
  </style>
</head>
 
<body>
  <div id="main" class="btn">
      <button id="front">前進</button>
      <button id="back">後退</button>
      <br>
      <button id="left">左</button>
      <button id="right">右</button>
      <br>
      <button id="stop" >停止</button>
      <h3><p id="info" >info</p></h3>
  </div>
</body>
 
</html>
