<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="utf-8">
  <title>Robot</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
 
<body>
  <div id="main">
      <button id="front" style="width:100px;height:50px">前進</button>
      <button id="back" style="width:100px;height:50px">後退</button>
      <br>
      <button id="left" style="width:100px;height:50px">前進</button>
      <button id="right" style="width:100px;height:50px">後退</button>
      <p id="info" >info</p>
  </div>
</body>
 
</html>
