<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="utf-8">
  <title>mebeeサンプル</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
 
<script>
 
  let count = 0;
 
  const hoge = () => {
 
    result.innerHTML = '押しています。';
    // $.post("/move", "", function(data, status, xhr){
    //   if (status == "success") {
    //     result.innerHTML = '押しています。';
    //   }else{
    //     console.log("NG")
    //   }
    // });
 
  }
 
  window.onload = () => {
 
    main.onmousedown = () => { 
        inter_id = setInterval(
            function(){
                hoge();
            }, 20); 
    };

    main.onmouseup = () => {
        clearInterval(
            inter_id
        );
        result.innerHTML = '押していないです。'
    };

  }
 
</script>
 
<body>
  <div id="main" class="container mx-auto my-56 w-56 px-4">
 
    <div class="flex justify-center">
      <p id="result" class="bg-green-500 text-white py-2 px-8 rounded-full mb-3 mt-4">押すなよ！</p>
    </div>
 
  </div>
</body>
 
</html>
