<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="utf-8">
  <title>Robot</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="{{url_for('static', filename='apply.css')}}">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
 
<body>
  <div id="main">
    <pre class ="ctl">
      <h3 id="title">ロボットリモート操作</h3><hr>
      <button id="front">前進</button><button id="back">後退</button>
      <button id="left">左折</button><button id="right">右折</button>
      <button id="stop">停止</button>
      <h3 id="info">status:</h3><hr>
    </pre>
    
  </div>
  <button id='settings'>各種設定</button><button id='search'>探索</button>
  <button>バッテリー使用率</button><button>充電</button>
  <h3>©copyright 2020- IoT研究会</h5>
</body>
</html>
