  #main{
    width: 480px;
    height: 720px;
  }
  .ctl{
    padding-left: 10px;
    margin-right: 11px;
    height: 538px;
    padding-right: 10px;
  }

  #title{
    padding-left: 99px;
  }

  #front, #back, #left, #right, #capture
  {
    width:120px;height:80px;font-size:20px;background-color: green;color: honeydew;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 28px;
  }
  #stop 
  {
    width: 150px;
    height: 62px;
    font-size: 20px;
    color: #ff0000;
    margin: 10px;
    margin-left: 95px;
  }

  #cap
  {
    width: 320px;
    height: 240px;
    margin-left: 10px;
  }
  
  #info{
    margin-top: 0px;
    width:100px;height:40px;font-size:20px;
    padding-left: 69px;
  }